{
  "env": {
    "production": {
      "presets": [
        [
          "@emotion/babel-preset-css-prop",
          {
            "hoist": true
          }
        ]
      ],
      "plugins": [
        "lodash"
      ]
    },
    "development": {
      "presets": [
        [
        "@emotion/babel-preset-css-prop",
          {
            "sourceMap": true,
            "autoLabel": true
          }
        ]
      ],
      "plugins": [
        "lodash"
      ]
    }
  }
}
